<aside class="large-3 columns hide-for-small">
  <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
  <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
  <div id="tag_cloud">
    <% if params[:controller] == 'projects' %>
      <% tag_cloud Project.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    <% end %>
  </div>
</aside>
